include ../../mixins/storedata.pug
include ../../mixins/numericanswer.pug


mixin whatever(uuid)
    - qd = {"a::n": dU(2, 10), "b::n": dU(11, 20), "x::n": dU(2, 10)}
    - q = `Let \\( X \\sim \\text{Uniform(a = ${qd["a::n"]}, b = ${qd["b::n"]})} \\). Calculate \\( \\mathbb{P}[X = ${qd["x::n"]}] \\).`
    +storedata(uuid, qd)
    - uuid_t = uuid + "::n"
    +numericanswer(uuid_t, q, 0.01, min =  0, max = 1, placeholder="0.5")
