extends layout

block content
  h2 Edward A. Roualdes
  ul
    li Asst. Professor of Statistics at #[a(href='http://www.csuchico.edu/') CSU, Chico] 
    li #[a(href='misc/cv.pdf') CV]
    li eroualdes at csuchico dot edu
