extends layout

block content
  h4 Lecture Notes
  p.
    #[a(href='sets.html') Set Theory]
  p.
    #[a(href='bernoulli.html') Bernoulli Distribution]
  p.
    #[a(href='probability.html') Basic Probability]
  p.
    #[a(href='likelihood.html') Likelihood]
