extends layout

block css
    // firebase
    script(src='https://www.gstatic.com/firebasejs/3.3.0/firebase.js' type='text/javascript')

    // ace
    script(src='js/ace/src-min-noconflict/ace.js'  type='text/javascript' charset='utf-8')
    script(src='js/ace/src-min-noconflict/theme-textmate.js' type='text/javascript' charset='utf-8')
    script(src='js/ace/src-min-noconflict/mode-r.js' type='text/javascript' charset='utf-8')

    // firepad
    link(rel='stylesheet' href='https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css')
    script(src='https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js', type='text/javascript')

    script.
        function init() {
            var config = {
                apiKey: process.env.LIVECODE_APIKEY,
                authDomain: process.env.LIVECODE_AUTHDOMAIN,
                databaseURL: process.env.LIVECODE_DATABASEURL
            };
            firebase.initializeApp(config);

            var user = firebase.auth().currentUser;
            firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    var firepadRef = firebase.database().ref();
                    var editor = ace.edit("firepad-container");
                    editor.setTheme("ace/theme/textmate");
                    var session = editor.getSession();
                    session.setUseWrapMode(true);
                    session.setUseWorker(false);
                    session.setMode("ace/mode/r");

                    var firepad = Firepad.fromACE(firepadRef, editor, {
                      defaultText: "// Edward A. Roualdes\n\n `%>%` <- magrittr::`%>%`\nrunif(2*1e6) %>%\n  matrix(ncol=2) %>%\n  apply(1, function(x) sum(x^2)<1) %>%\n  mean %>%\n  `*`(4)" });
                    // add signout button
                    var list = document.getElementById('menu-options');
                    var entry = document.createElement('li');
                    var a = document.createElement('a');
                    a.setAttribute('class', 'signout');
                    a.setAttribute('onclick', 'firebase.auth().signOut()');
                    a.appendChild(document.createTextNode('signout'));
                    entry.appendChild(a);
                    list.appendChild(entry);
                } else {
                    window.location.href = "/livecodeLogin";
                }
            },
            function(error) {
                console.log(error);
            });
        };

        window.addEventListener('load', function() {
            init();
        });


block content
    div(id='firepad-container' style='height: 500px; width: 600px;')
