extends lab
include ./mixins/url.pug
include ./mixins/title.pug
include ./mixins/userinfo.pug
include ./mixins/warning.pug

block content
    +title("MATH 105 Lab 01 Introduction to Statistics")
    +warning("Due date 2020-06-24 @ 23:59")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.
            This Lab is designed to give you a taste of what is to come in this course. Each week you will be doing a hands-on lab that incorporates relavent topics and real data.


        h4 Part 1. Types of variables
        p.
            In this class we will look at many interesting data sets. A data set consists of characteristics recorded on people, places, objects, etc. The characteristics are called #[strong variables] and the people, places, objects, etc. that the information is recorded on are called #[strong observational units]. It is important to identify the #[strong observational units] and also the #[strong variables] for each data set that we will explore in this class.

        h4 Roller Coaster Data

        p.

        a: img(src="/teddy_bears.png" alt="Teddy Bears")


        p.
            If you have already purchased MyStatLab, go ahead and log into StatCrunch #[+url("https://statcrunch")]

        p.
            and follow along to the video below to open the RollerCoaster data set.

        p.
            #[+url("https://media.csuchico.edu/media/Open+Roller+Coaster/0_287lqhl8")]

        p.

        a: img(src="/roller_coaster.png" alt="Roller Coaster Data")

        p.
        
        div(class="form-group")
            label(for="answer01")
                | What are the observational units?
            select(class="form-control" id="answer02" name="answer02")
                option(selected) choose one
                option State
                option Roller coasters
                option Amusement parks
                option Riders of roller coasters
                option Type of roller coaster

        p.
            Without formally defining categorical and quantitative variables, see if you can give an example of each from the roller coaster data set.

        div(class="form-group")
            label(for="answer02")
                | An example of a categorical variable in the roller coaster data set is:
            textarea(name="answer02" class="form-control" id="answer02" rows="1")

        div(class="form-group")
            label(for="answer03")
                | An example of a quantitative variable in the roller coaster data set is:
            textarea(name="answer03" class="form-control" id="answer03" rows="1")

        p. 
            #[strong Categorical] variables are variables that observations are placed in #[i one of several categories]. For instance, dog breed is a categorical variable because dogs are placed into a breed category like lab, poodle, etc. #[strong Quantitative] variables are variables that are #[i measurements] or #[i counts]. For instance, your weight is a quantitative variable because it is a measurement and the number of siblings that you have is a quantitative variable because it is a count.

        p.
            
            In addition to specifying whether a variable is quantitative or categorical, we also divide the two types of variables into two groups. #[strong Discrete quantitative] variables represents a count and can only be #[i whole integers] whereas a #[strong continuous quantitative] variable is a measurement so #[i decimals] or #[i fractions] are valid for measurements because they occur along a continuous scale.

        p.

            Categorical variables can also be divided into 2 categories, #[strong nominal] and #[strong ordinal]. A nominal categorical variable is a categorical variable where there is no natural ordering to the categories. In contrast, a ordinal categorical variable has a natural ordering to the categories. For instance, dog breed is a nominal categorical variable whereas college grade level (Freshman, Sophomore, Junior, Senior) is a ordinal categorical variable.

        div(class="form-group")
            label(for="answer04")
                | Which variaable in the roller coaster data is a continuous quantitative variable.
            select(class="form-control" id="answer04" name="answer04")
                option(selected) choose one
                option Construction
                option Height
                option Numinversions
                option Inversions
                
        div(class="form-group")
            label(for="answer05")
                | Which variaable in the roller coaster data is a discrete quantitative variable.
            select(class="form-control" id="answer05" name="answer05")
                option(selected) choose one
                option Construction
                option Height
                option Numinversions
                option Inversions

        h4 Part 2. Observational studies and experiments

        p.

        a: img(src="/observational_experiment.png" alt="Observational Studies and Experiments")

        p.
            Some questions that a research might want to answer by collecting data might be

        p.
            1. Do therapy dogs relieve stress before an exam?

        p.

            2. Does a new moisturizer reduce the signs of aging?

        p.

            3. Does increasing Vitamin D decrease the chance of breast cancer?

        p.

            These are all questions for which researchers would like to establish a cause and effect relationship. For instance, we might want to conclude that Vitamin D causes a reduction in the chance of breast cancer.

        p.

            Two different types of study are available to address the above questions:

        p.

            1. Observational studies

        p.

            2. Experiment

        p.

            In an #[strong observational study] researchers #[i observe] traits about the subjects without assigning specific treatments to the study.

        p.


            In an #[strong experiment] researchers #[i assign treatments] to the subjects in the study. For instance, the researcher would #[strong randomly assign] inviduals to either a drug or a placebo. The use of #[strong randomness] is extremely important in an experiment because it balances out any confounding variables that may exist.

        p.

            We can only establish a #[strong cause and effect relationship for experiments] because without randomization there could be other variables that are having an effect on the results. Randomization balances the confounding variables between groups. For instance, we can use randomization to ensure that treatment groups have approximately the same average age and income. Without randomization, a treatment group might consist of older individuals with higher income. 

        p.

            A confounding variables is an extraneous variable that interferes with the research. They can influence the outcome of the study, however, they are not the variables of interest in the study. When there are confounding variables it is not possible to tell if differences between treatment groups is due to the treatment or the confounding variables.

        p.

            Let’s consider the research question does increasing Vitamin D decrease the chance of breast cancer. We have two variables here: Vitamin D increase and development of breast cancer.

        p.

            When we have a research question we want to consider what variable(s) are the explanatory variable(s) and what variable(s) are the response variable(s).

        p.

            To determine which one is which, we want to consider what variable will have an effect on the other variable. Another way to think about it is, what variable comes first? The variable that has an effect on the other variable is the explanatory variable and will come first in a study. The variable that we are interested in measuring the effect of the other variable is the response variable and comes second in time to the explanatory variable. For instance, if we want to examine the effect of exercise on weight loss then exercise is the explanatory variable because that would need to come before we measured weight loss due to exercise. Thus, exercise would be the explantory variable (sometimes referred to as factor) and weight loss would be the response variable.

        p.

            Let's consider again the question does increasing Vitamin D decrease the chance of breast cancer?

        div(class="form-group")
            label(for="answer06")
                | Which variable is the explanatory variable?
            select(class="form-control" id="answer06" name="answer06")
                option(selected) choose one
                option Vitamin D intake
                option Chance of breast cancer
                option Women taking Vitamin D
                option Age

        div(class="form-group")
            label(for="answer07")
                | Which variable is the explanatory variable?
            select(class="form-control" id="answer07" name="answer07")
                option(selected) choose one
                option Vitamin D intake
                option Chance of breast cancer
                option Women taking Vitamin D
                option Age

        div(class="form-group")
            label(for="answer08")
                | How would you make this an experiment?
            textarea(name="answer08" class="form-control" id="answer08" rows="3")

        div(class="form-group")
            label(for="answer09")
                | Name two possible confounding variables.
            textarea(name="answer09" class="form-control" id="answer09" rows="2")

        p.
            Use the following app to participate in the Variable Types Matching Game. At the end of the game submit your name. If you end up on the leaderboard you will get a special prize.

        p.

            #[+url("https://psu-eberly.shinyapps.io/Variable_Types_Matching_Game/")]

        h4 An example of an observational study: Effectiveness of Hydroxychloroquie as a Treatment for COVID-19

        p. 

            In a study to examine hydroxychlorquie (HQ) as a treatment for COVID-19 26 patients were treated with HQ. Of these 26 patients, 20 completed the study. Of these, 6 also received Azithromycin (AZ), an antibiotic. During the 6 day study, patients were sampled for the presence or absence of the COVID-19 virus (PCR positivity). On day 6, most of the 16 conrol patients, about half of hte HQ treated patients, and none of the 6 HQ+AZ patients were PCR postivie. The conclusion was that HQ treatment, especially HQ+AZ treatment is very effective in treating COVID-19. The study was peer-reviewed, however, it was #[i accepted in less than a day.] The graph below shows the three different groups of patients. The y-axis is #[strong Percentage of patients with PCR-positive samples].

        p.

        a: img(src="/covid_hq_graph.png" alt="Covid HQ graph")

        div(class="form-group")
            label(for="answer10")
                | Write a few sentences that describe the above graph.
            textarea(name="answer10" class="form-control" id="answer05" rows="4")


        p. 

            #[strong Confounding variables]: In an ideal clinical trial study, the control group and treatment group should be as similar as possible. Patients should be of similar age and gender ratio, be equally sick at the start, and analyzed in the same way. Ideally, the only difference between the 2 groups should be weather or not the patient received the treatment. Of course, even randomization of treatment groups cannot guarantee that, however, randomization does guarantee no systematic differences between treatment groups. In this study, there were a number of possible confounding variables due to the nature of this #[strong observational study]. 

        p. 

            In this case, the patients were recruited at different centers. The HQ treated patients were all in Marseille, while controls could have come from other centers. 


        div(class="form-group")
            label(for="answer11")
                | Why might the location of the treatments be a confounding variable?
            textarea(name="answer11" class="form-control" id="answer11" rows="3")

        p. 

            The patients were not randomly assigned to treatment groups. In fact, patients got to decide what treatment group they wanted to be part of. 

        div(class="form-group")
            label(for="answer12")
                | Why might patients choice of treatment be a confounding variable?
            textarea(name="answer11" class="form-control" id="answer12" rows="3")

        p. 

            Additionally, the patients in the control group (group that didn't get either treatment) had some very young patients. 

        div(class="form-group")
            label(for="answer12")
                | Why might patients' age be a confounding variable?
            textarea(name="answer12" class="form-control" id="answer12" rows="3")

        p. 

            If you were interested in learning more about this you can read the initial paper at

        p. 

             #[+url("https://www.sciencedirect.com/science/article/pii/S0924857920300996?via%3Dihub")]

        p. 

            And an article of the critique of the study

            #[+url("https://scienceintegritydigest.com/2020/03/24/thoughts-on-the-gautret-et-al-paper-about-hydroxychloroquine-and-azithromycin-treatment-of-covid-19-infections/]")]

        button(class="btn btn-md btn-primary" type="submit") submit



        










