extends layout

mixin topic(name)
    li
        a(data-toggle="collapse", href="#"+ name, aria-expanded="false", aria-controls= name)= name
        div(class="collapse", id= name)
            ul(class="list-unstyled")
                block


block css
  script(defer).
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

block content
    div(class="alert alert-warning" role="alert")
      strong Under construction

    h4 MATH 450
