extends layout

mixin topic(name)
    li
        a(data-toggle="collapse", href="#"+ name, aria-expanded="false", aria-controls= name)= name
        div(class="collapse", id= name)
            ul(class="list-unstyled")
                block


block css
  script(defer).
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

block content
    div(class="alert alert-warning" role="alert")
      strong Under construction

    h4 MATH 450
    ul
        +topic("labs")
            li
                a(href="/math450/labs/01") lab 01
            li
                a(href="/math450/labs/02") lab 02
            li
                a(href="/math450/labs/03") lab 03
            li
                a(href="/math450/labs/04") lab 04
            li
                a(href="/math450/labs/05") lab 05
            li
                a(href="/math450/labs/06") lab 06
            li
                a(href="/math450/labs/07") lab 07
