extends layout

block content
    h4 Notes
    p.
        Notes of various kinds, for various things.  Some of these might
        be helpful for some students in some classes.  Some might help
        non-students.  Most help me in some way.

    ul
        li #[a(href='sets.html') Set Theory]
        li #[a(href='bernoulli.html') Bernoulli Distribution]
        li #[a(href='probability.html') Basic Probability]
        li #[a(href='likelihood.html') Likelihood]

