extends layout

block content
    h4 Banet Lab Collaboration
    p.
        #[a(href="https://abanet.yourweb.csuchico.edu/index.html") Dr. Banet's lab]
        studies the long term effects of increased stress in juvenile fish
        and, separately, the predation on juvenile salmon by non-native species.
        I help the Banet lab with some of their statistical analyses regarding these research topics.

    h4 Stan - a probabilistic programming language
    p.
        #[a(href="http://mc-stan.org/") Stan] is software targeting Bayesian statistics and, more generally,
        high-performance statistical computing. The core development team is a
        friendly and active group of computer programmers turned statisticians
        -- or is it the other way around? Contributing to the Stan code base
        is great fun and a terrific way to learn/practice programming. Lately
        I've been thinking hard about the Hamiltonian Monte Carlo algorithm
        behind Stan.
    p.
        Recently I played around with rewriting parts of Stan's
        internals, and wrote up a #[a(href="misc/hmcdynamics.html") technical report]
        despite my failed attempts to make the software faster.
        And apparently I was 10 years late on this idea anway.

    h4 Chico's Affordable Learning Solutions
    p.
        #[a(href="https://www.csuchico.edu/cals/") CAL$] is a program that
        encourages the use of more affordable course materials in an effort
        to help students save money.  Starting in 2018, Dr. Beth Shook and I
        became co-coordinators of Chico State's local effort of this
        #[a(href="https://als.csuprojects.org/") Chancellor's Office program].
        Much of this effort relies on
        #[a(href="https://en.wikipedia.org/wiki/Open_educational_resources") Open Educational Resources (OER)],
        which are increasingly of high quality and available for a wide
        variety of discplines.  For more information at the national level,
        check out #[a(href="https://oerdigest.org/") OER Digest],
        a "bi-weekly newsletter for open education updates, opportunities, and reminders."

    h4 Spiders
    p.
        #[a(href='http://simon.bonners.ca/bonner-lab/wpblog/') Dr. Simon Bonner] and I developed a predator preferences model, following the work of Dr. Strauss's #[a(href='http://www.faculty.biol.ttu.edu/strauss/pubs/Papers/1979Strauss.pdf') linear index].  Our method models predator preferences across an array of prey species and times.
    p.
        #[a(href='https://link.springer.com/article/10.1007/s10651-016-0341-3') Paper] | #[a(href='https://onlinelibrary.wiley.com/doi/abs/10.1111/mec.14554') Follw up paper]
    p.
        Code: #[a(href='https://cran.r-project.org/web/packages/spiders/index.html') CRAN] | #[a(href='https://github.com/roualdes/spiders') GitHub]

//-   h4 OpenIntro Statistics with R
//-   p.
//-       I'm deriving an R specific version of the free and open source book, #[a(href='https://www.openintro.org/stat/textbook.php') OpenIntro Statistics].
//- p.
//-   Code: #[a(href='https://github.com/roualdes/openintro-statistics') GitHub]

//- h4 Interactive Plot for ''Applying Bayes’ Rule to the Analysis of DNA Evidence''
//- p.
//-   Drs. Ian Ayres and Barry Nalebuff wrote an interesting piece in #[a(href='http://www.stanfordlawreview.org/') Stanford Law Review] titled #[a(href='http://www.stanfordlawreview.org/print/article/the-rule-of-probabilities') The Rule of Probability].  This article screamed out to me for an interactive plot and now that #[a(href='https://plot.ly/') Plotly] is open sourced...
//- p.
//-   #[a(href='/BayesDNA') Plot]

//- h4 Dissertation
//- p.
//-   My dissertation extends the #[a(href='http://www.stat.ufl.edu/archived/casella/Papers/Lasso.pdf') Bayesian lasso] to the Bayesian generalized lasso, with particular attention to the special case of #[a(href='http://www.stat.cmu.edu/~ryantibs/papers/trendfilter.pdf') trend filtering].  I'm also considering a generalized t-distribution prior that has less steep tails than does the prior in the standard Bayesian lasso.
//- p.
//-   Code: #[a(href='https://cran.r-project.org/web/packages/btf/index.html') CRAN] | #[a(href='https://github.com/roualdes/btf') GitHub]

//- h4 Population Genetics
//- p.
//-   Drs. #[a(href='http://sweb.uky.edu/~dweis2/The_Weisrock_Lab/') Dave Weisrock] and Eric O'neill, and I developed NextAllele, a bioinformatic pipeline written in #[a(href='http://www.python.org/') Python].  This program assists in their population genetic work on tiger salamanders.
//- p.
//-   Code: #[a(href='https://code.google.com/p/nextallele/') NextAllele]
