mixin userinfo()
    div(class="form-row")
        div(class="col")
            div(class="form-group has-feedback")
                label(for="inputUsername" class="control-label" type="hidden") Chico State email
                input(type="username" name="email" class="form-control" id="inputUsername" placeholder="fake@mail.csuchico.edu" data-error="Invalid username." pattern="^[a-zA-Z0-9._%+-]+@mail.csuchico.edu$" required autofocus)
                div(class="invalid-feedback") Please provide an @mail.csuchico.edu email.

        div(class="col")
            div(class="form-group has-feedback")
                label(for="inputSection" class="control-label" type="hidden") Section
                input(type="section" name="section" class="form-control" id="inputSection" placeholder="section number, e.g. 02 or 23" data-error="Invalid section." pattern="^[0-9]{1,2}$" required)
                div(class="invalid-feedback") Please provide a number, such as 2 or 11.
