extends lab
include ./mixins/url.pug
include ./mixins/title.pug
include ./mixins/userinfo.pug
include ./mixins/warning.pug
include ./mixins/shortanswer.pug
include ./mixins/multiplechoice.pug

block content
    +title("MATH 450 Chapter 3-Part 2")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math450/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        h4 Probability-The Nuts and Bolts of Bayesian Inference-Continued

        p.

            #[strong Continuous Joint pdfs]

        p.

            If #[i X] and #[i Y] are both continuous random variables we need a new definition for the joint pdf of #[i X] and #[i Y].  The joint pdf will be defined as a function that when integrated yields the probability that #[i (X,Y)] lies in a specified region of the #[i XY]-plane.

        p. 

            #[strong Definition]: Two random variables, #[i X] and #[i Y], have a #[i continuous joint distribution] if there exists a nonnegative function #[i f] defined over the entire #[i XY]-plane such that for every subset #[i A] of the plane, $$\textmd{P}[(X,Y)\in A]=\int_{A}\int f(x,y)dx,dy$$.

        p.

            The function \(f_{X,Y}(x,y)\) is called the #[strong joint probability function] of #[i X] and #[i Y]. 

        +shortanswer("answer01", "What two conditions must be satisfied for a valid joint probability function?", "2")

        p.

             #[strong Example]

        p.

            Suppose that the joint p.d.f. of two random variables #[i X] and #[i Y] is as follows $$f_{X,Y}(x,y)=c(x^{2}+y)$$ 

        p.

            for \(0 < y\leq 1-x^{2}\) and 0 elsewhere.

        p.

            #[+url("https://media.csuchico.edu/media/Math+450-Chapter+3-Joint+Example/0_7tutfjbz")]

        
        +shortanswer("answer02", "Determine the value of c", "1")

        p.

            Compute \(P(0\leq X \leq 1/2)\)

        +shortanswer("answer03", " ", "1")

        p.

            Compute \(P(Y \leq X+1)\)

        +shortanswer("answer04", " ", "1")

        p.

            #[strong You try it]

        p.

            A study claims that the daily number of hours, #[i X], a teenager watches television and the daily number of hour, #[i Y], he works on his homework are approximated by the joint pdf $$f_{X,Y}(x,y)=xye^{-(x+y)},x>0\hspace{.1 in}y>0$$.

        +shortanswer("answer05", "What is the probability that a teenager chosen at random spends at least twice as much time watching television as he does working on his homework?", "1")

        p.

            #[strong You try it]

        p.  

            Suppose that random variables #[i X] and #[i Y] vary in accordance with the joint pdf, \(f_{X,Y}(x,y)=c(x+y)\) where \(0 < x< y < 1\).

        +shortanswer("answer06", "Find c", "1")

        p.

            #[strong You try it]

        p.

            Find \(P(X<2Y)\) if \(f_{X,Y}(x,y)=x+y\) where #[i X] and #[i Y] are both between 0 and 1.

        +shortanswer("answer07", "     ", "1")

        button(class="btn btn-md btn-primary" type="submit") submit
