extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug

include ../../mixins/katex.pug

block head
    +katex()

block content
    +title("MATH 450 Chapter 9-Part 2")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math450/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        h4 Chapter 9: Conjugate Distributions Part 2

    p.

        We will continue with examples of conjugate distributions which are likelihoods and priors that ''play nice'' together.

    p.

        #[strong Example]:  Suppose that #[i X] is a geometric random variable, where \(p_{X}(k|\theta)=\left(1-\theta\right)^{k-1}\theta\), k=0,1,2,....  

    p.

        Assume that the prior distribution for \(\theta\) is the beta pdf with parameters #[i r] and #[i s].  Find the posterior distribution for \(\theta\).

    p.

        #[+url("https://media.csuchico.edu/media/Geometric+Beta/1_esm2of6e")]
        
    p.

        Thus, assigning a beta distribution to the unknown parameter in a binomial pdf yields a beta posterior distribution.

    p.


        As we just saw, certain prior distributions ``fit'' especially well with certain parameters in the sense that the resulting posterior distributions are easy to work with.  Another example is  if a gamma pdf is used as the prior distribution for the parameter in a Poisson model.

    p.

        #[strong Example]:  Suppose \(X_{1},X_{2},...,X_{n}\) denotes a random sample from the Poisson pdf, \(p_{X}(k|\theta)=e^{-\theta}\theta^{k}/k!\) where \(k=0,1,....\).  Let \(W=\sum^{n}_{i=1}X_{i}\).  It can be shown that \(W\) has a Poisson distribution with parameter \(n\theta\), that is \(p_{W}(w|\theta)=e^{-n\theta}(n\theta)^{w}/w!\), w=0,1,2.... Let the Gamma pdf $$f_{\Theta}(\theta)=\frac{\mu^{s}}{\Gamma(s)}\theta^{s-1}e^{-\mu\theta}\hspace{.25in}0<\theta<\infty$$

    p.

        be the prior distribution assigned to \(\Theta\).
    p.

    +shortanswer("answer01", "Give the name of the posterior distribution and the parameters", "2")

    button(class="btn btn-md btn-primary" type="submit") submit
