extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug

include ../../mixins/katex.pug

block head
    +katex()

block content
    +title("MATH 450 Chapter 5-Part 2")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math450/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        h4 Chapter 5: Priors continued

        p.

            #[strong Lets revisit this example discussed a few weeks ago]

        p.

            Suppose a retailer is interested in modeling the number of calls arriving at a phone bank in a five-minute interval.  We can establish that the Poisson distribution would be the pdf of choice.  But what value should be assigned to the Poisson parameter, \(\lambda\)?

        p.

            Suppose we know that an examination of logs for the past several months suggests that \(\lambda\) equals 10 about three-quarters of the time, and it equals 8 about one-quarter of the time.  Described in Bayesian terminology, the rate parameter is a random variable, \(\lambda\), and the (discrete) prior distribution for \(\lambda\) is defined by the two probabilities.

        p.

            Now suppose certain facets of the retailer's operation have recently changed.  Those changes may very well affect the distribution associated with the call rate.  Updating the prior distribution for \(\lambda\) requires (a) some data and (b) an application of Bayes' Theorem.  The retailer decides to construct a posterior distribution for \(\lambda\) on the basis of a single observation.  To that end, a five-minute interval is preselected at random and the corresponding value for #[i X] is found to be 7.  How should we revise the previous probabilities for \(\lambda\)?

        p.

            #[+url("https://media.csuchico.edu/media/Math+450-Simple+Bayes%27+Example/1_eom5h59b")]

        p.

            #[strong 5.6: Constructing Priors]

        p.

            There are a number of different methodologies and philosophies for constructing a prior density. This next section we consider how priors can be engineered to be relatively uninformative, weakly informative or to combine pre-experimental knowledge in a logical manner.

        p.

            #[strong 5.6.1: Uninformative Priors]

        p.

            There are times when the use of uninformative priors is desired. For example, if we were uncertain about the proportion of individuals in a population with a particular disease, then we might specify a uniform prior. The use of a prior tht has a constant value is attractive because in this case: $$p(\theta|data)=\frac{p(data|\theta)\times p(\theta)}{p(data)}$$ $$\propto p(data|\theta)\times p(\theta)$$ $$\propto p(data|\theta)$$

        p.

            and the shape of the posterior distribution is determined by the likelihood function. This is seen as a merit of uniform priors since they `let the data speak for itself' through the likelihood.

        p.

            #[strong Informative priors]

        p.

            There are occasions when it is essential to include significant information in the prior: to incorporate previously collected data or the results of a former analysis to include data from another source or to account for theoretical considerations.

        p.

            #[strong Eliciting Priors]

        p.

            A different sort of informative prior is sometimes necessary, which is not derived from prior data, but from expert opinions. These priors are often used in clinical trials where clinicians are interviewed before the trial is conducted.

        p.

            #[strong Example: Dodgy Coins]

        p.

            #[+url("https://media.csuchico.edu/media/Math+450+The+Fish+Game/1_6twcgc67")]

        p.

            Suppose that there are three coins in a bag. The first coin is biased towards heads, with a 75% probability of a heads occurring if the coin is flipped. The second is fair, so a 50% chance of heads occurring. The third is biased towards tails, and has a 25% probability of coming up heads. Assume that it is impossible to identify which coin is which from looking at or touching them.

        p.

            Suppose we put our hand into the bag and pull out a coin. We then flip the coin and find it comes up heads. Let the random variable $C={1,2,3}$ denote the identity of the coin, where the probability of heads is (0.75, 0.50, and 0.25) respectively. Obtain the likelihood by using the equivalence relation (that a likelihood of a parameter value given data is equal to the probability of data given a parameter value) and show that the sum of the likelihood over all parameter values is 1.5.

        p.

            What is the maximum likelihood estimate of the coin's identity?

        p.

            Use Bayes' rule to prove that: \(P(C=c|X=H)\propto P(X=H|C=c)\times P(C=c)\) where \(c=1,2,3\).

        p.

            Assume that since we cannot visually detect the coin's identity we use a uniform prior \(P(C=c)=\frac{1}{3}\) for \(c=1,2,3\). Use this to complete the table below and determine the probability of the data.

        a: img(src="/math105/dodgy_coin_table.PNG" alt="Bayes", style='width:600px;height:350px;')

        p.

            Confirm that the posterior is a valid probability distribution.

        p.

            Now assume that we flip the same coin twice, and find that it lands heads up on both occasions. Determine the new posterior distribution.

        +shortanswer("answer01", "What is the posterior probability of coin 2 (C=2) given that it lands heads up on both occasions?", "1")

        button(class="btn btn-md btn-primary" type="submit") submit
