extends ../../lab

include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/katex.pug
include ../../mixins/storedata.pug
include ../../mixins/labinfo.pug

include ../questions/aaaa.pug
include ../questions/whatever.pug
include ../questions/any_variable_name.pug

block head
    +katex()

block content
    +title("MATH 000 / Lab 01: A cleaner and more complex interface")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math000/labs/submit" method="post" class="needs-validation" novalidate)
        +labinfo(labId)
        +userinfo()

        b Question 01
        - qd = {"p::n": round2d(cU(0.01, 0.99))};
        - q = `Let \\( X \\sim \\text{Bernoulli}( p = ${qd["p::n"]} ) \\). Calculate \\( \\mathbb{E}[X] \\).`;
        - uuid = "Q01"
        +storedata(uuid, qd)
        - uuid_t = uuid + "::n";
        +numericanswer(uuid_t, q, 0.1, placeholder = "a number with two decimals")

        b Question 02
        +aaaa("Q02")

        b Question 03
        +whatever("Q03")

        b Question 04
        +any_variable_name("Q04")

        button(class="btn btn-md btn-primary" type="submit") submit
