extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug

block content
    +title("MATH 105 Lab 03 Measures of Center and Variation")
    +warning("Due date 2020-06-24 @ 23:59")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.
            This lab is designed to increase your understanding of measures of center and measures of variation.

        h4 Part 1. Mean, median, stanard deviation, and association

        p.
            Please take a few minutes to complete the following app about mean, median, standard deviation, and correlation. Although we haven't talked about correlation yet, you can use your intuition to complete each level. Good luck!!

        p.
            #[+url("https://psu-eberly.shinyapps.io/Descriptive_Statistics/")]


        h4 Part 2. Explaining Variation

        p.

        h4 Guess the babies weight

        a: img(src="/math105/baby_weight.PNG" alt="Baby")

        p.
            Consider the variable birthweight of a baby. We will be looking at a data set that has information about births recorded in North Carolina. This data has been of interest to medical researchers who are studying the relation between habits and practices of expected mothers and the birth of children. The data consists of a random sample of 1000 cases.

        p.
            The variable of interest for our activity will be #[i weight] which is the birthweight of the baby in pounds.

        p.

        +multiplechoice("answer01", "Suppose a randomly selected mother is about to have her baby. You don't know anything about this mother but you will win a prize if you guess the baby's birthweight correctly. What is your guess (in pounds)?")
            option(selected) choose one
            option less than 4
            option 4
            option 5
            option 6
            option 7
            option 8
            option 9
            option 10
            option 11
            option 12
            option 13
            option greater than 13

        +shortanswer("answer02", "Explain the logic behind your guess.", "2")

        p.
            Now imagine that you can find out some other information about this person before your guess.

        +shortanswer("answer03", "Lists 5 things that might help you predict the baby's weight. List 2 or 3 categorical variables and 2 or 3 quantitative variables.", "5")

        +shortanswer("answer04", "Explain why you think the extra information might help you make a better informed prediction about the baby's weight.", "2")

        +shortanswer("answer05", "Give a range of values where you think the baby's weight might fall. For instance, a lower bound (minimum |weight) and an upper bound (maximum weight).", "1")

        p.
            OK, let's go ahead and open up the data in StatCrunch. The data file is called #[strong ncbirths] and is in the Math 105 group. One last time, here is how we join and open up data in MyStatCrunch. You can skip the video if you are already a pro at this.

        p.
            #[+url("https://media.csuchico.edu/media/NCBirthsOpen/0_pa4jfgeo")]

        p.
            The variables included in the data set are father's age (fage), mother's age (mage), maturity status of mother (mature), length of pregnancy in weeks (weeks), whether the birth was classified as premature (premie), number of hospital visits during pregnancy (visits), weight gained by mother (gained), birthweight of baby (weight), status of mother as a smoker or nonsmoker (habit), whether mother is married (marital).

        p.
            Create a histogram in StatCrunch and answer the following questions.

        p.
            #[+url("https://media.csuchico.edu/media/HistogramWeight/0_1qcp9whm")]

        +multiplechoice("answer06", "Was your initial guess close to the average of babies' weights?")
            option(selected) choose one
            option Yes, I was very close to the center of the histogram.
            option Too high
            option Too low

        +multiplechoice("answer07", "How well did you describe the variation in birthweights?")
            option(selected) choose one
            option Spot on. My min and max were about the same as in the histogram.
            option Way off. I wasn't even close.

        +shortanswer("answer08", "What variables that you listed were also in the data set?", "3")

        p.
            In StatCrunch, compute the mean and standard deviation of birthweights.

            #[+url("https://media.csuchico.edu/media/babyweight+mean+and+sd/0_9idl6vp9")]

        +shortanswer("answer09", "Mean: ", "1")

        +shortanswer("answer10", "Standard Deviation: ", "1")

        p.
            Visually to see if we have other variables that might be helpful to predict birthweight we can adjust the histogram to account for other variables. Let's consider the variable #[i premature]. We can highlight the premature variables in the histogram as follows:

            #[+url("https://media.csuchico.edu/media/Histogram+adjusted+for+additional+variable/0_yezqbb4x")]

        +shortanswer("answer11", "Does it appear that whether a baby is premature or not is an important factor of determining a baby's weight. Explain.", "4")

        p.
            Compute the mean and standard deviation of baby's weight for premature babies and full-term separately. View the below video if you are not sure how to do that.

        p.
             #[+url("https://media.csuchico.edu/media/Group+by+/0_0b5bwuov")]

        +shortanswer("answer12", "Mean: ", "1")

        +shortanswer("answer13", "Standard Deviation: ", "1")

        +shortanswer("answer14", "Suppose that you knew that the baby was full-term? What weight would you predict? What would be the minimum and maximum weight that you would predict for a full-term baby?", "1")

        +shortanswer("answer15", "Suppose that you knew that the baby was premature? What weight would you predict? What would be the minimum and maximum weight that you would predict for a full-term baby?", "1")

        button(class="btn btn-md btn-primary" type="submit") submit
