extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug
include ../../mixins/katex.pug
include ../../mixins/numericanswer.pug

block content
    +title("MATH 105 Lab 09 Hypothesis testing")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.
            This lab will give you more experience with hypothesis testing.

        p.

            #[strong Part 1]

            The p-value for the hypothesis is #[strong 0.06]. For each of the following significant levels, decide whether the null hypothesis should be rejected.

        +multiplechoice("answer01", "alpha=0.05")
            option(selected) choose one
            option Reject the null
            option Fail to reject the null
        
        +multiplechoice("answer02", "alpha=0.10")
            option(selected) choose one
            option Reject the null
            option Fail to reject the null

        p.

        +multiplechoice("answer03", "Which provides stronger evidence against the null hypothesis?")
            option(selected) choose one
            option a p-value of 0.06
            option a p-value of 0.01

        p.

            #[strong Part 2]

        p. 

            The US Substance Abuse and Mental Health Services Adminstration conducts surveys on drgus use by type of drug and age group. Results are published in #[i National Household Survey on Drug Abuse]. According to that publication, 15% of the 18-25 year-olds were current users of marijuana in 2000. We are interested in whether recent evidence supports that there has been a change in marijuana use since 2000. A 2018 poll of 1283 randomly selected 18-25 year olds revealed that 205 were current users of marijuana. 

        p.

        +shortanswer("answer04", "State the null hypothesis", "1")

        p.

        +shortanswer("answer05", "State the alternative hypothesis", "1")

        p.

            #[+url("https://media.csuchico.edu/media/Math+105+Lab+9+Hyp+Test+1+prop/1_nqa2v37u")]

        p.

        +numericanswer("answer06", "Report the p-value to 3 decimals", ".001")

        p.

            Did you find sufficient evidence of a change since 2000 in drug use among this age group? 

        +shortanswer("answer07", "Give a one sentence conclusion in context of the problem. Use an alpha level of 0.05.", "2")

        p.

            A confidence interval for the proportion of marijuana users in 2014 is between 0.14 and 0.18 which is interpreted as: We can be 95% confident that between 14% and 18% of 18-25 year-olds use marijuana. 

        p.

        +shortanswer("answer08", "Is the confidence interval consistent with your conclusion for the hypothesis test? Explain.", "2")

        p.

            #[strong Part 3]

        p.

            The drug Prevnar is a vaccine meant to prevent meningitis. It is typically administered to infants. In clinical trials, the vaccine was administered to 710 randomly sampled infants between 12 and 15 months of age. Of the 710 infants, 121 experience a loss of appetite. Is this significant evidence to conclude that the proportion of infants who receive Prevnar and experience a loss of appetite is different than 0.135 which is the proportion of children who experience a loss of appetite with competing medications? Use an alpha level of 0.05.

        p.

        +shortanswer("answer09", "State the null hypothesis", "1")

        p.

        +shortanswer("answer10", "State the alternative hypothesis", "1")

        p.

        +numericanswer("answer11", "Report the p-value to 3 decimals", ".001")

        p.

        +shortanswer("answer12", "Give a one sentence conclusion in context of the problem.", "2")

        p.

            Calculate a 95% confidence interval for the proportion of infants on Prevnar who experience a loss of appetite.

        p.

        +shortanswer("answer13", "Interpret the confidence interval in context of the problem.", "2")

        p.

        +shortanswer("answer14", "Is the confidence interval consistent with your conclusion for the hypothesis test? Explain.", "3")

            



        button(class="btn btn-md btn-primary" type="submit") submit
