extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug
include ../../mixins/katex.pug
include ../../mixins/numericanswer.pug

block content
    +title("MATH 105 Lab 06 Association Rules")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.

            This Lab will give you additional practice for association rules.

        h4 Part 1. Association Rules

        p.

           Association rules find interesting associations among variables. The notes cover an example that is related to grocery shopping where it is of interest to determine the likelihood of a person  to buy an item (say strawberry jam) if it is known that the person is already buying another item (say cheese). Because it is often used to look at transactions, association rules is sometimes referred to as Market Basket Analysis (assuming buyer has item in basket already, what is the chance he puts another item in the basket). The three items that we will calculate are the #[strong support], #[strong confidence], and #[strong lift]. Association rules provide information of this type in the form of #[i if-then] statements. For instance, if beer is purchased then what is the chance that potato chips will also be purchased? 

        p.

           Consider the rule: 

        p.

           {diapers} -> {baby food}

        p.

           Refer to your notes and answer the following questions: 
        
        p.
        
        +multiplechoice("answer01", "The support for the above rule would be?")
            option(selected) choose one
            option The proportion of times that both items are purchased together.
            option The proportion of times that baby food is included with a diaper purchase.
            option The proportion of times that diapers are included with a baby food purchase.

        p.
        
        +multiplechoice("answer02", "The confidence for the above rule would be?")
            option(selected) choose one
            option The proportion of times that both items are purchased together.
            option The proportion of times that baby food is included with a diaper purchase.
            option The proportion of times that diapers are included with a baby food purchase.    
        

        h4 Part 2. To mask or not to mask

        p.

        a: img(src="/math105/mask_dog.PNG" alt="Dog Mask")

           
        p.
            Wearing a face or not in public still remains a question for debate in the United States. 

            The US Centers for Disease Control and Prevention (CDC) has recommended that everyone wear masks when in public in order to help stop the spread of COVID-19. However,at the time this lab was created, many people haven't followed that advice and case numbers are continuing to rise. At the individual level, some people have protested that their personal freedoms are being violated by being told to wear a mask to cover their mouth and nose. 

            Scientists have been collecting data on whether cloth masks worn by members of the general public can cut down on the spread. 

            Initially the CDC did not recommend mask due to the thought that it was primarily transmitted by individuals touching contaminated objects. However, it is now known that the virus is primarily spread by inhaling the virus expelled by another person. It is now thought that covering one's mouth and nose will lesson the risk of spreading the virus.

            To determine whether there was evidence that a cloth mask can block the virus spread, Matthew Staymates, a mechanical engineer and fluid dynamicist at US National of Standards and Technology set up an experiment. You can view the video at the following link:

        p.

            #[+url("https://www.youtube.com/watch?time_continue=29&v=zP0oZO8Ebz0&feature=emb_logo")]

        p. 

            Earlier this month, a Cambridge University study 

        p.

            #[+url("https://royalsocietypublishing.org/doi/10.1098/rspa.2020.0376")] 

        p.

            found that in every country where compliance rates neared 100 percent for wearing face coverings had ``experienced significantly lower rates of COVID-19 spread and associated deaths'' than in countries where face-mask compliance was lower or non-existent.

        p.

            So what percent mask compliance do we need? Although 100 percent is optimal, a study showed that a compliance rate of 80% would be more effective than a lockdown.

        p.

            There is now a general consensus now that masks work, and research is supporting that. However, there is still a large group of individuals that are determined not to wear masks in public.

        +shortanswer("answer03", "Can you think of some characteristics (variables) that might predict whether or not someone agrees to wear a mask in public?", "2")

        
        p.

            Let's focus our attention on the Face Mask data. The data was obtained from the NY times. Click the link below to see the interactive map of the United States. You can hover your mouse over a county to extract information at the county level. 

            #[+url("https://www.nytimes.com/interactive/2020/07/17/upshot/coronavirus-face-mask-map.html")]

        a: img(src="/math105/market.PNG" alt="Market")

        p.

            Go ahead and open the face_mask data in StatCrunch. As usual with Association Rule data, the data will be binary which means that most variables will have 2 values, 0 for no and 1 for yes. This makes it convenient in order to count the numbers of ``yes''. If we sum the values of a variable then we now how many ``yes'' occurred. The variables are at county level which means the data are aggregated among individuals at the county level. The variables include:

        p.

            #[i perc_80]: 0 if less than 80% usually we masks and 1 if more than 80% usually wear masks

        p.

            #[i poverty_less20]:  0 if poverty is greater than 20% and 1 if less than 20%

        p.

            #[i perc_college20]: 0 if percent of college educated citizens is less than 20%, 1 if it is greater than 20%

        p.

            #[i unemployment_low]: 0 if unemployment is high (greater than 3.7%) and 1 if low

        p.

            #[i income_high]: 0 if income is lower than the median and 1 if higher than the median

        p.

            #[i vote_democratic]: 0 if county voted republican in last election and 1 if county voted democrat

        p.
            
            #[strong Consider the rule]: 

        p.

            {vote_democratic}->{perc_80}

        p.

            By using Association Rules we can determine the likelihood that if #[strong a county voted democratic in the last election then at least 80% of them wears a mask most of the time]

        p. 

            We will use the fact that we have binary (0 and 1) data to calculate the support, confidence, and lift. 

            Let's calculate the support first. There are #[strong 3133 counties] in the data set. The support would be the proportion of the 3133 counties that are both #[strong 80% compliant] and #[strong voted democratic]. 

        +multiplechoice("answer04", "To calculate the support we figure out the number of times the perc_80 and vote_democratic variable sum to what number?")
            option(selected) choose one
            option 1
            option 2
            option 3
            option 4

        p.

            Follow the instructions in the video to calculate the Support for the above rule.

            #[+url("https://media.csuchico.edu/media/Math+105+Lab+6+Support/1_thehyg42")]

        +numericanswer("answer05", "What value did you get for the support? Note: it should be a number between 0 and 1.", "0.01")

        p.

            Now calculate the confidence for the rule: 

        p.

            {vote_democratic}->{perc_80}.

        p.

            To calculate the confidence we need to compute the proportion of counties that voted democratic that also were 80% mask compliants. Thus, the numerator is the support you calculated above and the denominator is the support for just the #[i vote_democratic] variable. In other words, the denominator is the proportion of times a county voted democratic in the last election.
        p. 

            Divide the support by the proportion of counties that voted democratic and that is the confidence.

        p. 

        +numericanswer("answer06", "What value did you get for the confidence?", "0.01")

        p. 

        +shortanswer("answer07", "Write a sentence interpreting the confidence in context of the rule? You might consider using an if then statement like if a county voted democratic, then ...", "3")

        p. 

            Repeat the same steps above but for the rule: 

        p.

            {unemployment_low}->{perc_80}

        +numericanswer("answer08", "What value did you get for the confidence?", "0.01")

        +shortanswer("answer09", "Write a sentence interpreting the confidence in context of the rule? You might consider using an if then statement like if a county has low unemployment, then ...", "3")

        p.
        
            Which variable (vote_democratic or unemployment_low) seems to be more associated with whether or not a county is going to be mask compliant? In other words, if you had to predict whether a county is mask compliant and you could find out only one piece of information, would you want to know if the county voted for Clinton or if the county had low unemployment.

        +multiplechoice("answer10", "Which variable seems to be better at predicting whether a county is mask compliant?")
            option(selected) choose one
            option whether or not a county voted democratic in the last election
            option whether or not a county has low unemployment

        p.

            Of course, we don't only have one piece of information so let's consider more than just one variable. Let's consider the rule

        p.

            Consider the rule: 

        p.

            {vote_democratic, perc_college20}->{perc_80}

        p.

            First, calculate the support and the confidence. Because we now have more variables we have to reconsider what things sum to. If we want to know how many counties voted democratic, have greater than 20% of population college educated, and are mask compliant then we would need to figure out how many rows had a sum of #[strong 3]. We would also need to compute the number of rows that were both democratic and perc_college20. This would be the denominator for the confidence. 

        p.

        +numericanswer("answer11", "Report the confidence?", "0.01")

        p.

        +shortanswer("answer12", "If you know that a county voted democratic in the last election and also has more than 20% of the residents college educated would you guess that they are mask compliant? Explain.", "3")

        button(class="btn btn-md btn-primary" type="submit") submit



        










