extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug

block content
    +title("MATH 105 Lab 04 Normal Distribution Introduction")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.
            This Lab is designed to give you an introduction to modeling a variable with the normal distribution. If the distribution of a variable is symmetric and bell-shaped then we can use the normal model to calculate probabilities related to the variable of interest.

        h4 Part 1. Blood Pressure
        
        p.

            The Blood Pressure data set in the Math 105 group presents Systolic and Diastolic blood pressure readings for a random sample of 398 individuals from central Virginia.
        p.
            Open up the data set in StatCrunch.


        p.

        +multiplechoice("answer01", "Suppose we want to model blood pressure using the normal model. What must be true of the shape of the distribution if we want to use the normal distribution model the variable?")
            option(selected) choose one
            option The distribution must be skewed right.
            option The distribution must be skewed left.
            option The distribution must be symmetric and bell-shaped.
            option The distribution must be uniform.

        p. 

            Take a few minutes to examine the distribution of the two variables in this data set (Systolic BP and Diastolic BP).

        +multiplechoice("answer02", "Suppose we want to model blood pressure using the normal model. What must be true of the shape of the distribution if we want to use the normal distribution model the variable?")
            option(selected) choose one
            option Systolic BP.
            option Diastolic BP.

        +shortanswer("answer03", "Explain your reasoning for the variable that you picked.", "2")

        p. 

            Report the mean and stndard deviation of diastolic blood pressure.

        +shortanswer("answer04", "Mean:", "1")

        +shortanswer("answer05", "Standard Deviation:", "1")

        +shortanswer("answer06", "Recall that you were asked to measure your diastolic blood pressure last week. Was you measurement less than or greater than the mean calculated above?", "1")

        +shortanswer("answer07", "Calculate the number of standard deviations away from the mean your blood pressure is.", "1")

        +shortanswer("answer08", "Now calculate a z-score by taking the difference between your blood pressure and the mean and then dividing by the standard deviation.", "1")

        p.

            If your blood pressure value is less than the mean then your z-score should be negative and if it is greater than the mean then your z-score should be positive.
        
        +shortanswer("answer09", "Interpret the z-score for your blood pressure. Write a sentence in context of the problem.", "1")        

        h4 Part 2 Flashlight batteries

        p.

            Consider the variable birthweight of a baby. We will be looking at a data set that has information about births recorded in North Carolina. This data has been of interest to medical researchers who are studying the relation between habits and practices of expected mothers and the birth of children. The data consists of a random sample of 1000 cases.

        p. 

            When used in a particular flashlight, the lifetime of a certain brand of battery is normally distributed with mean of 6 hours and a standard deviation of 0.8 hours. Using StatCrunch, simulate sampling 1000 batteries that follow this distribution.

        p.
            
            #[+url("https://media.csuchico.edu/media/simulate+battery+lifetimes/0_v46wf9j4")]

        p.

            Now make a histogram of the simulated data. For convenience, check the box that says #[i values above the bar]. Use the histogram to answer the following questions.
            
        +shortanswer("answer10", "What is the probability that a battery will last longer than 8 hours?", "1") 

        +shortanswer("answer11", "What is the probability that a battery will last less than 4.5 hours?", "1") 
        
        +shortanswer("answer12", "What is the probability that a battery will last between 5 and 7.5 hours?", "1") 
            
        p.

            Although simulation is a valid way to solve normal distribution problems, we can also use the StatCrunch normal distribution app to solve the same problems as above. Rather than using a histogram to determine the probabilities that we determined above, we can use the actual normal distribution model and the app will compute the area under the curve. It is important to determine the correct side of the curve. You should read the problem carefully and look for key words such as #[strong less than or greater than].

        p.

            #[+url("https://media.csuchico.edu/media/simulate+battery+lifetimes/0_v46wf9j4")]

        +shortanswer("answer13", "What is the probability that a battery will last longer than 8 hours?", "1") 

        +shortanswer("answer14", "What is the probability that a battery will last less than 4.5 hours?", "1") 
        
        +shortanswer("answer15", "What is the probability that a battery will last between 5 and 7.5 hours?", "1") 

        +shortanswer("answer16", "Compare your answers with the answers you got simulating data from the normal distribution.", "2") 

        p.

            Your answers using the simulated data should have been similar to the answers that you got using the normal model. Hence, we can think of the normal model as a way to model a variable when we don't have data. Additionally, we can think of finding the area under the curve using the normal model as the same thing as using the histogram if we were to have data for a variable. 

        p.

        button(class="btn btn-md btn-primary" type="submit") submit
