extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/highlighting.pug
include ../../mixins/code.pug
include ../../mixins/katex.pug
include ../../mixins/numericanswer.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug

block head
    +katex()
    +highlighting()

block content
    +title("MATH 105 Lab 10 Two Sample Proportions")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        h4 Part 1: Tornadoes

        p.
            This lab will cover confidence intervals and hypothesis testing when we are comparing proportions between two groups.

        p.

        a: img(src="/math105/dorothy.PNG" alt="dorothy", style='width:500px;height:300px;')

        p. 

            #[strong Tornadoes]:

        p.

            A tornado is a narrow, violently rotating column of air that extends from a thunderstorm to the ground. Tornadoes occur in many parts of the world. About 1200 tornadoes hit the US yearly. Tornado Alley is a nickname invented by the media to refer to a broad area of relatively high tornado ocurrences in the central United States.

        p.

        a: img(src="/math105/tornado_alley.PNG" , style='width:500px;height:300px;')

        p.

            #[strong Part 1]

        p.

            The data set ``Tornadoes'' contains a variety of varibles that were measured for all tornadoes in the US in 2017. F scale is a qualitative variable that categorizes tornadoes by its windspeed. The table below shows the F scale rating from the National Oceanic and Atmospheric Administration.

        p.

        a: img(src="/math105/tornado_rating.PNG" alt="Tornadoes")

        p.

            For this activity we will compare the #[i proportion of F0 tornadoes in Texas versus Kansas]. The data in the column #[strong F Scale] represent the Fujita F Scale of the tornado (on a scale from 0 to 5). An F0 tornado is one where the wind speeds are less than 73 miles per hour. We will treat the tornadoes that struck in Texas and Kansas as a simple random sample of all tornadoes that struck since 1950. 

        p.

            Because we are just interested in whether or not it was an F0 tornado, the variable F0 was created with the responses ``yes'' or ``no''. We will use this variable for our analysis. 

        p.

            We will first start by calculating a confidence interval for \(p_{TX}-p_{KS}\) where \(p_{TX}\) is the proportion of tornadoes in Texas that are category F0 and \(p_{KS}\) is the proportion of tornadoes in Kansas that are category F0. It is important to understand that the confidence interval for \(p_{TX}-p_{KS}\) is for the #[strong difference] between the two proportions. 

        p.

            How would you interpret a confidence interval that went from a positive number to a positive number for \(p_{TX}-p_{KS}\) (as an example (0.115, 0.233)).

        +multiplechoice("answer01", "Pick the correct interpretion")
            option(selected) choose one
            option Kansas has a significant larger proportion of F0s than Texas.
            option Texas has a significant larger proportion of F0s than Kansas.
            option We can't say that there is a difference between the proportion of F0s between Texas and Kansas.

        p.

            How would you interpret a confidence interval that went from a negative number to a negative number for \(p_{TX}-p_{KS}\) (as an example (-0.115, -0.233)).

        +multiplechoice("answer02", "Pick the correct interpretion")
            option(selected) choose one
            option Kansas has a significant larger proportion of F0s than Texas.
            option Texas has a significant larger proportion of F0s than Kansas.
            option We can't say that there is a difference between the proportion of F0s between Texas and Kansas.

        p.

            How would you interpret a confidence interval that went from a negative number to a positive number for \(p_{TX}-p_{KS}\) (as an example (-0.115, 0.233)).

        +multiplechoice("answer03", "Pick the correct interpretion")
            option(selected) choose one
            option Kansas has a significant larger proportion of F0s than Texas.
            option Texas has a significant larger proportion of F0s than Kansas.
            option We can't say that there is a difference between the proportion of F0s between Texas and Kansas.
        
        p.

            We will work our way toward doing doing a hypothesis test and confidence interval by first collecting the following information:

        p.

            1. Number of tornadoes in Texas.

        p.

            2. Number of F0 tornadoes in Texas.

        p.

            3. Number of tornadoes in Kansas

        p.

            4. Number of F0 tornadoes in Kansas.

        p.

            We can get this information by creating a #[i contingency table] in StatCrunch. We don't need to look at any numbers from other states so we can specify in StatCrunch that we only want to select values where #[strong State =TX or State=KS]. The following video demonstrates how to create this table.

        p.

            #[+url("https://media.csuchico.edu/media/Math+105+Lab+10+Contingency+Table/1_x1ul4ixj")]

        +numericanswer("answer04", "How many tornadoes in KS were F0?", "1.0")

        p.

        +numericanswer("answer05", "How many tornadoes were there in KS in 2017?", "1.0")

        p.

        +numericanswer("answer06", "How many tornadoes in TX were F0?", "1.0")

        p.

        +numericanswer("answer07", "How many tornadoes were there in TX in 2017?", "1.0")

        p.

            Now we have all the required information to perform a hypothesis test and create a confidence interval. Let's first create a confidence interval. We do this in StatCrunch by going to #[strong Stat] then #[strong Proportion Stats] then #[strong Two Sample] then #[strong with summary]. Note that we could use #[i with data] since we have the data in front of us, however, it is not organized correctly to do what we need. The video below demonstates how to compute a confidence interval for \(p_{KS}-p_{TX}\) 

        p.

            #[+url("https://media.csuchico.edu/media/MLIB027B_Recording_20201105-131522/1_vr5laj0c")]

        p.

        +numericanswer("answer08", "What was the lower bound for the interval? Round to 3 decimals.", ".001")

        p.

        +numericanswer("answer09", "What was the upper bound for the interval? Round to 3 decimals.", ".001")

        p.

        +shortanswer("answer10", "In one complete sentence, interpret your confidence interval. Make sure in the interpretation it is clear which state had a higher proportion of F0 and how much higher.", "2")

        p.

            Suppose now we want to test whether #[strong Kansas has a higher rate of F0 tornados than Texas]. 

        p.

        +shortanswer("answer11", "Based only on the confidence interval, would your p-value for the hypothesis test be smaller or larger than 0.05. Explain using complete sentences.", "3")

        p.

            Now run the hypothesis test and state your conclusion in context of the problem. Use a 0.05 significance level. 

        +shortanswer("answer12", "Based only on the confidence interval, would your p-value for the hypothesis test be smaller or larger than 0.05. Explain using complete sentences.", "3")

        p.

        +shortanswer("answer13", "State your conclusion in context of the problem.", "2")

        h4 Part 2: Siberian tigers

        a: img(src="/math105/tiger1.PNG" )

        p.

            The Bol'shaya Koshka (Russian for big cat) Reserve is a newly created animal reserve that was uniquely developed to help endangered species prosper. This 10,000 acre wild animal reservation was selected because an abundance of Siberior tigers have been found in the area. The diverse terrain of the reserve provides a wide variety of habitats for many different species of animals.

        p.

            Since the tigers in this area are much more abundant than any other area in the world, they are starting to draw a significant number of researchers to the region. Your primary responsibility will be to help these researchers as they study the tigers and then incoporate the results of their research into a system to identify the best management practices for this reserve.

        p.

            An important component of monitoring endangered species is to understand the age distribution of the population. Shifts in the distribution could indicate potential issues in sustaining the population. Additionally, researchers would like to quantify size differences between male and femal tigers.

        p.

            While the exact age is not known for most of the tigers in the reserve, the age of some tigers are known. To esimate the age of a tiger that is captured on your reserve, you will need to compare characteristics of the captured tiger to the ones that live on the research zone (whose ages are known). Another 

        p.

            Your mission is to go into the Bol'shaya Koshka reserved and gather sample data on tigers. Then, using your sample data, you are to establish a simple linear regression model to estimate the age of a tiger based on one of the other variables that you collect. Additionally, we will compare body measurments between male and female tigers. The data analysis part will occur over the next  2 weeks. Today we will do the #[i data collection] part of the research.

        p.

            #[strong Play the tutorial for the TigerSTAT game] briefly so you are familiar with the game controls. The game is found at the website

            #[+url("http://statgames.tietronix.com/tigerstat/tigerstat_webgl/index.html")]

        p.

            Enter a PlayerName and GroupName #[strong math105] and Sign In. You can choose either the #[i Casual] or #[i Hard] version, select #[strong Continue] and #[strong Load Tutorial]. If you forget commands anytime during the game play, you can hit the "p" key to pause the game and see game instrucitons.

        a: img(src="/math105/tiger2.PNG",style='width:500px;height:300px;' )

        p.

            Play the game and next week we will analyze the data. Good Luck!!  

        button(class="btn btn-md btn-primary" type="submit") submit
