extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/highlighting.pug
include ../../mixins/code.pug
include ../../mixins/katex.pug
include ../../mixins/numericanswer.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug

block head
    +katex()
    +highlighting()

block content
    +title("MATH 105 Lab 11 Two Sample Means")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.
            This lab will cover confidence intervals and hypothesis testing when we are comparing the means between two groups.

        h4 Part 1 Tiger Data

        p.

        a: img(src="/math105/tiger3.PNG",style='width:500px;height:300px;')

        p.

            Recall last week you played the tiger stat game. The data for everyone is now on the StatCrunch group. The variables that were collected on the tiger were Age, Weight, Length, PawCircumference, and NoseBlack (the proportion of the tiger's nose that is black). Suppose that we are interested in learning about the differences between male and female tigers. Create side-by-side boxplots in StatCrunch where the x-axis is #[strong Sex] and the y-axis are the other variables.

        a: img(src="/math105/tiger4.PNG",style='width:500px;height:300px;')

        p.

            The following video explains how to create boxplots in StatCrunch.

            #[+url("https://media.csuchico.edu/media/Math+105+Lab+11+Boxplot/1_aqhgtxcz")]

        p.

            Based on the boxplot of age versus sex, does there appear to be significant differences between genders with regards to age? 

        +multiplechoice("answer01", "Pick one.")
            option(selected) choose one
            option Yes
            option No
        
        +multiplechoice("answer02", "Based on your answer above, would you expect that a confidence interval for the difference in ages between gender to include 0")
            option(selected) choose one
            option Yes
            option No

        p.

            Based on the boxplot of length versus sex, does there appear to be significant differences between genders with regards to length? 

        +multiplechoice("answer03", "Pick one.")
            option(selected) choose one
            option Yes
            option No
        
        +multiplechoice("answer04", "Based on your answer above, would you expect that a confidence interval for the difference in length between genders to include 0")
            option(selected) choose one
            option Yes
            option No
        
        p.

            Compute a 95% confidence interval for \(\mu_{m}-\mu_{f}\) where \(\mu_{f}\) is the average weight of adult females and \(\mu_{m}\) is the average weight for adult males. We don't want tigers that aren't fully grown yet so we will exclude tigers that are under 5 years old. The following video explains how to calculate a confidence interval for the difference in population means.

            #[+url("https://media.csuchico.edu/media/Math+105+Lab+11+Two+Means/1_ih2eeyom")]

        p.

        +numericanswer("answer05", "Report the lower bound for the confidence interval. Round to the nearest whole integer", "1.0")

        p.

        +numericanswer("answer06", "Report the upper bound for the confidence interval. Round to the nearest whole integer", "1.0")

        p.

        +shortanswer("answer07", "In one complete sentence, interpret your confidence interval. Make sure in the interpretation it is clear the direction of the difference (i.e. which gender weighs more and by how much.", "3")

        p.

        +multiplechoice("answer08", "If we were to conduct a hypothesis test to see if there was a difference between the average female tiger and male tiger weight, the p-value would be")
            option(selected) choose one
            option Less than 0.05
            option Greater than 0.05
            option Can't tell

        p.

            In this situation, a researcher might be more interested in a confidence interval compared to the results of a hypothesis test. Can you think of some reasons why the confidence interval might be more informative to a tiger researcher than the results of a hypothesis test?

        +shortanswer("answer09", "Explain why a confidence interval provides more information to a tiger researcher than the results of a hypothesis test.", "3")

        p.

            Next week we will continue our tiger research by investigating what variables might be useful in predicting a tiger's age.

        button(class="btn btn-md btn-primary" type="submit") submit
