extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug
include ../../mixins/katex.pug
include ../../mixins/numericanswer.pug

block content
    +title("MATH 105 Lab 12 Simple Linear Regression")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.
            This lab will cover simple linear regression.

        h4 Part 1 Tiger Data

        a: img(src="/math105/tiger5.PNG",style='width:500px;height:300px;')

        p.

            Recall last week you played the Tiger Stat game. The game consisted of you tranquilizing tigers in order to collect data on each tiger. Don't worry, no actual tigers were harmed by you.

        p.

            The Bol'shaya Koshka (Russian for big cat) Reserve is a newly created animal reserve that was uniquely developed to help endangered species prosper. This 10,000 acre wild animal reservation was selected because an abundance of Siberior tigers have been found in the area. The diverse terrain of the reserve provides a wide variety of habitats for many different species of animals.

        p.

            Since the tigers in this area are much more abundant than any other area in the world, they are starting to draw a significant number of researchers to the region. Your primary responsibility will be to help these researchers as they study the tigers and then incoporate the results of their research into a system to identify the best management practices for this reserve.

        p.

            An important component of monitoring endangered species is to understand the age distribution of the population. Shifts in the distribution could indicate potential issues in sustaining the population.

        p.

            While the exact age is not known for most of the tigers in the reserve, the age of some tigers are known. To esimate the age of a tiger that is captured on your reserve, you will need to compare characteristics of the captured tiger to the ones that live on the research zone (whose ages are known).

        p.

            Now that we have gathered some data we can investigate the best way to predict age. The researcher's know the ages of the tigers in the Reserve, however, they want to be able to predict a tiger's age based on measurements that are easier to obtain such as: weight, length, paw circumfernce, and proportion of nose that is black.

        +multiplechoice("answer01", "If we want to predict a tiger's age, the variable age would be the ")
            option(selected) choose one
            option explanatory variable.
            option response variable.
        
        +multiplechoice("answer02", "Which variable do you think is the best predictor of age. Just take a guess.")
            option(selected) choose one
            option weight
            option length
            option paw circumference
            option proportion of nose that is black

        p.

            In StatCrunch, open up the TigerStat data. The variables in the data file are the tiger's age, weight (in pounds), length (in inches), paw circumference (in inches), and proportion of nose that is black. For each variable, create a scatterplot with the y-axis being age and the x-axis being the explanatory variable (you should be creating 4 separate scatterplots, one for weight, length, paw, and nose).

            #[+url("https://media.csuchico.edu/media/Math+105+Lab+12+Scatterplot/1_052alfht")]

        p.

            After examing these scatterplots, which variable do you think is the best predictor of age.

        +multiplechoice("answer03", "Pick a variable.")
            option(selected) choose one
            option weight
            option length
            option paw circumference
            option proportion of nose that is black
        p.

        +shortanswer("answer04", "Explain your reasoning.", "2") 

        p.

            Compute the correlation coefficient of that variable with Age and the variable NoseBlack. The video below describes how to calculate the correlation coefficient and the simple linear regression equation.

        p.

            #[+url("https://media.csuchico.edu/media/Math+105+Lab+12+Correlation+and+Regression/1_est6cwtn")]
        
        p.

        +numericanswer("answer05", "Report the correlation coefficient to 3 decimals", ".001")

        p.

            Based on the correlation coefficient, would you describe the linear association as strong, moderate, or weak?

        +multiplechoice("answer06", "Pick a one.")
            option(selected) choose one
            option strong
            option moderate
            option weak

        p.

            Create a simple linear regression model in StatCrunch that predicts a tiger's age from the proportion of the tiger's nose that is black. 
        p.

        +numericanswer("answer07", "Report the y-intercept to 2 digits", ".01")

        p.

        +numericanswer("answer08", "Report the slope to 2 digits", ".01")

        p.

        +shortanswer("answer09", "Report the linear regression equation.", "1")

        p.

            Make a prediction for the age of a tiger based on your regression equation for a tiger that had a nose that was 70% (0.7) black. 

        +numericanswer("answer10", "Report the predicted age to 1 decimal", ".1")

        p.

            Suppose that this particular tiger was 14 years old. Compute the residual.

        +numericanswer("answer11", "Report the residual to one decimal", ".1")

        p.

            Suppose the tiger in the picture below showed up at the Reserve. What would you predict his age to be? Use the regression equation to make the prediction. 

        a: img(src="/math105/tiger6.PNG",style='width:300px;height:200px;')

        +numericanswer("answer11", "Report the the answer to one decimal.", ".1")

        p.
       
        button(class="btn btn-md btn-primary" type="submit") submit
