extends ../../lab
include ../../mixins/url.pug
include ../../mixins/title.pug
include ../../mixins/userinfo.pug
include ../../mixins/warning.pug
include ../../mixins/highlighting.pug
include ../../mixins/code.pug
include ../../mixins/katex.pug
include ../../mixins/numericanswer.pug
include ../../mixins/shortanswer.pug
include ../../mixins/multiplechoice.pug

block head
    +katex()
    +highlighting()

block content
    +title("MATH 105 Lab 13 Linear Regression Continued")
    +warning("Leaving or refreshing this page might lose your work.")

    form(action="/math105/labs/submit" method="post" class="needs-validation" novalidate)
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="hidden" name="lab" value= labId)
        // Due date is in UTC
        input(type="hidden" name="duedate" value="2020-06-25T07:00:00")
        +userinfo()

        p.
            This lab will cover linear regression.

        p.

            The following regression equation is used to predict the amount of an electrical bill from the average temperature (in Fahrenheit) of a give month: \(\hat{y}=55.1-0.241x\).

        p.

            Which variable is the explanatory variable?

        +multiplechoice("answer01", "Pick one.")
            option(selected) choose one
            option Temperature
            option Electric bill
            option Month

        p.

            Which variable is the resonse variable?

        +multiplechoice("answer02", "Pick one.")
            option(selected) choose one
            option Temperature
            option Electric bill
            option Month

        +shortanswer("answer03", "In one complete sentence, interpret the slope in context of the problem.", "2")

        +numericanswer("answer04", "If the monthly average temperature increases by 10 degrees, how much does the predicted bill drop? Round to two decimals", "0.01")


        +numericanswer("answer05", "What is the predicted electric bill when the average monthly temperature is 60 degrees? Round to 2 decimals.", "0.01")

        +numericanswer("answer06", "Suppose that the electric bill was $38 for the month when the temperature averaged 60 degrees. Compute the residual. Round to 2 decimals.", "0.01")

        +shortanswer("answer07", "Interpret the residual in context of the problem.", "2")

        +multiplechoice("answer08", "If you were to receive an electric bill, would you prefer to have a negative or positive residual? Explain.")
            option(selected) choose one
            option Negative because the bill would be less than predicted by the equation.
            option Negative because the bill would be more than predicted by the equation.
            option Positive because the bill would be less than predicted by the equation.
            option Positive because the bill would be more than predicted by the equation.

        +shortanswer("answer09", "Rsq for this problem was 43.3%. Interpret this value in context of the problem.", "2")



        button(class="btn btn-md btn-primary" type="submit") submit
